/* intro styles */

.intro {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  margin-bottom: 92px; /* container → footer */
}

.intro__title {
  max-width: 830px; /* make the title responsive */
  width: 100%; /* make the title shrink in small screens */
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  margin-bottom: 40px; /* title → text */
}

.intro__text {
  max-width: 738px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  margin-bottom: 10px; /* text → quote */
}

.intro__text--quote {
  text-align: right;
  margin-bottom: 32px; /* quote → text */
}

.intro__paragraph {
  max-width: 722px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-bottom: 88px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .intro__text {
    max-width: 720px;
    width: 100%;
    margin-bottom: 26px;
  }

  .intro__paragraph {
    max-width: 720px;
    width: 100%;
  }
}
