/* global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  background-color: #2a2c2f;
}

.content {
  padding: 0 148px;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 24px;
  }
}
