.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-areas:
    "title website"
    "media text";
}

.place__title {
  grid-area: title;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  color: #ffffff;
}

.place__website {
  grid-area: website;
  max-width: 456px;
  align-content: end; /* Aligns the content to the bottom of the grid area */
}

.place__url-heading {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-bottom: 8px;
}

.place__artist {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22; /* 22px line-height in font-size 18px */
  color: #ffffff;
}

.place__media {
  grid-area: media;
  display: grid;
  row-gap: 48px; /* Adds vertical spacing between the image and button */
  justify-items: start; /* Aligns the image and button to the left */
  align-content: start; /* Aligns the content to the top of the grid area */
}

.place__image {
  width: 100%;
  height: 460px;
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  display: block; /* Remove default inline spacing */

  box-shadow: 10px 10px 25px 0px #00000080;
  outline: 1px solid transparent; /* Adds a transparent outline to prevent layout shift on hover */
  transition:
    box-shadow 0.3s ease,
    outline-color 0.3s ease; /* Smooth transition for hover effects */
}

.place__image:hover {
  outline: 1px solid #000000cc; /* Adds a subtle outline on hover */
  box-shadow: 0px 1px 3px 0px #00000033; /* Adds a subtle shadow on hover */
}

.place__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  color: #ffffff;
}

.place__button {
  display: inline-flex; /* Use inline-flex to size the button based on its content */
  align-items: center; /* Center the text vertically */
  min-height: 48px;
  padding: 13px 20px; /* Add padding for spacing inside the button */

  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;

  border-radius: 4px;
  background: linear-gradient(to right, #0278fe, #003a7b);
  box-shadow: 5px 5px 10px 0px #00000040;

  width: fit-content; /* Adjust the width based on the content */
}

@media screen and (max-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
    color: #ffffff;
  }

  .place__website {
    max-width: 352px;
  }

  .place__image {
    width: 340px;
    height: 340px;
  }

  .place__paragraph {
    font-size: 16px;
  }

  .place__button {
    white-space: nowrap; /* Prevents the button text from wrapping to multiple lines */
    max-width: 355px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "media"
      "text"
      "button";
    row-gap: 30px;
  }

  .place__title {
    padding: 0 16px;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    max-width: 288px;
    padding: 0 16px;
  }

  .place__text {
    padding: 0 16px;
  }

  .place__image {
    grid-area: media;
    display: block; /* Remove default inline spacing */
    width: 100%;
    height: 320px;
    box-shadow: none;
  }

  .place__media {
    max-width: 100%;
    grid-area: media;
    display: contents; /* Allows the image and button to be direct children of the grid container */
  }

  .place__button {
    grid-area: button;
    justify-self: center; /* Centers the button horizontally within the grid area */
    justify-content: center; /* Centers the text horizontally within the button */
    font-size: 14px;
  }
}
